<div class="outer">

    <!-- heading section -->
    <div class="header">
        <a href="" class="header-link">Asset Management</a>
        <a href="" class="header-link"><i class="fa-solid fa-chevron-right"></i>Software</a>
        <a href="" class="header-link"><i class="fa-solid fa-chevron-right"></i>edit</a>
    </div>

    <!-- hardware edit form -->
    <form [formGroup] = "editSoftware" (ngSubmit)="onSubmit()" id="editForm">

        <div class="form_container">

            <div class="form_sub_container">
                
                <div class="input_container">
                    <label class="input_lable">SUB VERSION</label>
                    <input type="text" value="" class="form_input" formControlName = "subVersion" >
                </div>
                
                <div class="input_container">
                    <label class="input_lable">SOFTWARE CATEGORY</label>
                    <input type="text" class="form_input" formControlName = "softwareCategory">
                </div>
                
            </div>
            <div class="form_sub_container">
                
                <div class="input_container">
                    <label class="input_lable">LICENCE TYPE</label>
                    <select class="form_input" formControlName="licenceType">
                        <option value="Freeware">Freeware</option>
                        <option value="Managed">Managed</option>
                        <option value="Shareware">Shareware</option>
                    </select>
                </div>
                
                <div class="input_container">
                    <label class="input_lable">SOFTWARE NAME</label>
                    <input type="text" class="form_input" formControlName = "softwareName">
                </div>
    
            </div>
            <div class="form_sub_container">
                
                <div class="input_container">
                    <label class="input_lable">TOTAL PURCHASED LICENCE</label>
                    <input type="number" class="form_input" formControlName = "purchased">
                </div>
                
                <div class="input_container">
                    <label class="input_lable">INSTALLED</label>
                    <input type="number" class="form_input" formControlName = "installed">
                </div>
                
            </div>
            
        </div>
        <p class="errorDisplay">{{showError}}</p>
        <div class="submition">
            <button type="button" class="submit-button" (click)="clearFields()">CLEAR</button>
            <button type="button" class="submit-button" (click)="goBack()">CANCEL</button>
            <button type="submit" class="submit-button" form="editForm" [disabled]="editSoftware.invalid">SUBMIT</button>
        </div>
    
    </form>

</div>
