/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-smart-modal/ngx-smart-modal.css";

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.filter-color, .fa.fa-filter {
    color: #fff !important;
    margin-top: 10px;
    margin-left: 10px;
    /* margin-top: 25px; */
  /* }  */