<div class="row">
    <div class="col-2" *ngFor="let assetData of data"  (click)="onClick(assetData.softwareCategory)">
      <div class=" assetDiv justify-content-center" *ngIf="assetData.available !==0" >
        <div class="key mt-1">
          {{ assetData.softwareCategory }}
        </div>
        <div class="value pl-1">
          {{ assetData.available }}
        </div>
        <div class="bottom pl-1">
          available
        </div>
      </div>
    </div>
    <div class="col-2" *ngFor="let assetData of dataSet" >
      <div class=" assetDiv justify-content-center " *ngIf="assetData.unassignedCount !==0"  (click)="onClickHw(assetData.type)">
        <div class="key mt-1">
          {{ assetData.type }}
        </div>
        <div class="value pl-1">
          {{ assetData.unassignedCount }}
        </div>
        <div class="bottom pl-1">
          available
        </div>
      </div>
    </div>
  </div>
  
