* {
    font-family: "Montserrat", sans-serif;
  }
  .assetDiv {
    border-radius: 30px;
    border-style: solid;
    border-color: #a1a1a1;
    border-width: 1px 2px;
    width: 13em;
    height: 10em;
    margin: 1vh 1vw;
    display: grid;
    padding: 1vh 0vw 1vh 1vw;
    cursor: pointer;
  }
  .col {
    width: 50px;
    display: block;
  }
  .value {
    font-size: 45px;
    color: #1f378c;
    font-weight: 1000;

  }
  .key {
    color: #2db780;
    text-transform: capitalize;
    font-weight: 1000;
  }
  .bottom {
    color: #2db780;
    text-transform: capitalize;
    font-weight: 1000;
  }
  .row{
    display: flex;
    margin-top: 3vh;
    width: 78vw;
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: scroll;
    min-height: 25vh;


  }
  