<div class="container">
    <h5>Released Hardware Requests</h5>
    <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th scope="col">requestId</th>
            <th scope="col">category</th>
            <th scope="col">model</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">configuration</th>
            <th scope="col">requested Date</th>
        </tr>
        </thead>
        <tbody *ngFor="let request of list  | paginate
        : {
            itemsPerPage: 5,
            currentPage: currentPage,
            totalItems: count
          }">
          <tr>
            <td>{{request.requestId}}</td>
            <td>{{request.hardwareType}}</td>
            <td>{{request.modelName}}</td>
            <td>{{request.manufacturingCompany}}</td>
            <td>{{request.configuration}}</td>
            <td>{{request.requestedDate}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls previousLabel="Previous" nextLabel="Next"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
    
</div>

