* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  .app-data {
    border-color: #1F378C;
    border-style: solid;
    border-radius: 14px;
    border-width: 1px 2px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 6em;
    cursor: pointer;
  }
  .expRenew{
    display: flex;
    
  }
  
  .softwareName{
      text-transform: uppercase;
      color: #1F378C;
      font-size: smaller;
      font-weight: 1000;
  }
  
  .date{
      margin-left: 5px;
      padding-left: 5px;
      border-color: #CD1D5B;
      border-style: solid;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      border-width: 1px 2px;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      background-color: #CD1D5B ;
      color: white;
      font-size: smaller;
      height: auto;
      font-weight: 1000;
      
  
  }
  .expiresIn{
      margin-left: 5px;
      padding-left: 5px;
      margin-right: 5px;
      border-color: #2DB780;
      border-style: solid;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      border-width: 1px 2px;
      background-color: #2DB780;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      height: auto;
      color: white;
      font-size: smaller;
      font-weight: 1000;
  }
  