<div class="outer-layer">
    <div class="section-1">
      <app-asset-category-widget></app-asset-category-widget>
    </div>
  
    <div class="section-2">

      <div class="status">
        <div class="col h-100">
          <div class="row mx-2 pl-3 pt-2 my-1 w-100hw h-100vh">
            <h3>Asset Status - Hardware</h3>
          </div>
          <div class="row p-4">
            <app-hardware-graph></app-hardware-graph>
          </div>
        </div>
      </div>
    
      <div class="status">
        <div class="col h-100">
          <div class="row mx-2 pl-3 pt-2 my-1 w-100hw h-100vh">
            <h3>Asset Status - Software</h3>
          </div>
          <div class="row p-4">
            <app-software-graph></app-software-graph>
          </div>
        </div>
      </div>
    
      <div class="status">
        <div class="col h-100">
          <div class="row mx-2 pl-3 pt-2 my-1 w-100hw">
            <h3>License Renewal</h3>
          </div>
          <div class="col app-data py-1 mx-1 px-1">
            <app-license-expire-widget></app-license-expire-widget>
          </div>
        </div>
      </div>

    </div>

    <!-- <div class="section-3">
      <app-open-request></app-open-request>
    </div> -->
  </div>
  
