* {
    font-family: "Montserrat", sans-serif;
  }
  
.outer-layer{
  display: grid;
  grid-template-rows: 35% 40% 30%;
  height: auto;
  width: auto;
  margin: 2vh 2vw;
}
.section-1{
  display: flex;
  flex-direction: row;
}
.section-2{
  display: grid;
  grid-template-columns: 35% 35% 30%;
}
.section-3{
  width: 80%;
}

.status{
  border: 1px solid #000000;
  margin: 3vh 0.5vw ;
  padding: 2vh 2vw;
  border-radius: 30px;
}
h3{
  font-size: 2vw;
  font-weight: 600;
  color: #1f378c ;
}